public/apple-icon-180.png filter=lfs diff=lfs merge=lfs -text
public/manifest-icon-192.maskable.png filter=lfs diff=lfs merge=lfs -text
public/manifest-icon-512.maskable.png filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1284-2778.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1668-2224.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2688-1242.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1125-2436.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1242-2208.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1242-2688.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1668-2388.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1792-828.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2048-1536.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2208-1242.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2732-2048.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1136-640.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1170-2532.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1536-2048.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2436-1125.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2532-1170.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-640-1136.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1334-750.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2160-1620.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2388-1668.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2778-1284.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-750-1334.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-828-1792.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-1620-2160.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2048-2732.jpg filter=lfs diff=lfs merge=lfs -text
public/apple-splash-2224-1668.jpg filter=lfs diff=lfs merge=lfs -text
